<%- include('header') %>


<section class="masthead"  id="font1" style="background-color:#3949AB">
    <div class="container h-10 font1">
      <div >
      <div class="row h-100">
       <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 id="p1" class="mb-5" style="color: white;" >Willkommen bei der Temp-App!<br>Hier können Sie über einen Stadtnamen die Temperatur, sowie zusätzliche Informationen erhalten.<br>
              Geben Sie dazu einfach einen Stadtnamen ein!</h1>
           <!-- <p id="download" class="font1" style="color :black" > Stellst deine Frage <a href="https://frag.jetzt/participant/room/86217332" class="btn btn-outline btn-xl js-scroll-trigger" target ="_blank" style="color:black" >hier</a></p>
            <p style="color :black">oder schick uns was zum korigieren</p>
            <p>in den Ordner <i style="font-size:24px" class="far">&#xf07b;</i> </p> <input type="file" class="form-control"><br><br>-->
            <form action="/action" method="post" class="ui form" >
                <label for="message" id="sc" style="color: white;">Stadtname:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn customButton" type="submit">Suchen</button>
                      <input type="text" name="message" id="message"  class="form-control">
                    </div>
                  </div>
            </form>
            <% if(text) { %>
                <div class="alert alert-success">Die Temperatur in <%= city %> beträgt <%= text %>°C</div>
            <% } %>
            <% if(text_error) { %>
                <div class="alert alert-danger"> <%= text_error %> </div>
            <% } else if(city) { %>
                <div class="alert alert-info">
                  <p class="h2">Mehr über <%= city %> !</p>
                  <p><%= city %> ist eine Stadt in <%= country %>. </p>
                  <p>Die aktuelle Population in <%= city %> beträgt <%= population %>.</p>
                  <p>Die Hauptstadt von <%= country %> ist <%= capital %>.</p>
                  <% if(languages.length == 1){ %>
                    <p>Die Amtssprache von <%= country %> ist <%= languages[0] %>.</p>
                  <% } else if(languages.length >= 2) { %>
                    <p>Die Amtssprachen von <%= country %> sind:</p>
                    <% for(let i = 0; i < languages.length; i++){ %>
                      <p><%= languages[i] %></p>
                    <% } %>
                  <% } %>
                </div>
            <% } %>
          </div>
          <div class="container" style="background-color:#BCAAA4">
            <!-- Trigger the modal with a button -->
          
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h2 class="modal-title">Datenschutzerklärung</h2>
                  </div>
                  <div class="modal-body">
                    <h3 class="text-uppercase font-weight-bold">Datenschutz</h3>
                    <p>Wir haben diese Datenschutzerklärung (Fassung 29.08.2020-321207201) verfasst, um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.

                      Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
                  </div>
                  <div class="modal-body">
                    <h4 class="text-uppercase font-weight-bold">Cookies</h4>
                    <p>Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.
                      Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die folgende Datenschutzerklärung besser verstehen.</p>
                      <h5 class="text-uppercase font-weight-bold">Was genau sind Cookies?</h5>
                      <p>Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser. Bekannte Browser sind beispielsweise Chrome, Safari, Firefox, Internet Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine Text-Dateien in Ihrem Browser. Diese Dateien nennt man Cookies.

                        Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein. Fast alle Webseiten verwenden Cookies. Genauer gesprochen sind es HTTP-Cookies, da es auch noch andere Cookies für andere Anwendungsbereiche gibt. HTTP-Cookies sind kleine Dateien, die von unserer Website auf Ihrem Computer gespeichert werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner, quasi dem “Hirn” Ihres Browsers, untergebracht. Ein Cookie besteht aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen zusätzlich ein oder mehrere Attribute angegeben werden.
                        
                        Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder persönliche Seiteneinstellungen. Wenn Sie unsere Seite wieder aufrufen, übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite zurück. Dank der Cookies weiß unsere Website, wer Sie sind und bietet Ihnen Ihre gewohnte Standardeinstellung. In einigen Browsern hat jedes Cookie eine eigene Datei, in anderen wie beispielsweise Firefox sind alle Cookies in einer einzigen Datei gespeichert.
                        
                        Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von unserer Seite erstellt, Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics) erstellt. Jedes Cookie ist individuell zu bewerten, da jedes Cookie andere Daten speichert. Auch die Ablaufzeit eines Cookies variiert von ein paar Minuten bis hin zu ein paar Jahren. Cookies sind keine Software-Programme und enthalten keine Viren, Trojaner oder andere „Schädlinge“. Cookies können auch nicht auf Informationen Ihres PCs zugreifen.
                        
                        So können zum Beispiel Cookie-Daten aussehen:
                        
                            Name: _ga
                            Ablaufzeit: 2 Jahre
                            Verwendung: Unterscheidung der Webseitenbesucher
                            Beispielhafter Wert: GA1.2.1326744211.152321207201
                        
                        Ein Browser sollte folgende Mindestgrößen unterstützen:
                        
                            Ein Cookie soll mindestens 4096 Bytes enthalten können
                            Pro Domain sollen mindestens 50 Cookies gespeichert werden können
                            Insgesamt sollen mindestens 3000 Cookies gespeichert werden können
                        </p>
                        <h5 class="text-uppercase font-weight-bold">Wie sieht es mit meinem Datenschutz aus?</h5>
                        <p>Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass das Speichern von Cookies eine Einwilligung von Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr unterschiedliche Reaktionen auf diese Richtlinien. In Deutschland wurden die Cookie-Richtlinien nicht als nationales Recht umgesetzt. Stattdessen erfolgte die Umsetzung dieser Richtlinie weitgehend in § 15 Abs.3 des Telemediengesetzes (TMG).

                          Wenn Sie mehr über Cookies wissen möchten und technischen Dokumentationen nicht scheuen, empfehlen wir https://tools.ietf.org/html/rfc6265, dem Request for Comments der Internet Engineering Task Force (IETF) namens “HTTP State Management Mechanism”.</p>
                  </div>
                  <div class="modal-body">
                    <h4 class="text-uppercase font-weight-bold">Rechte laut Datenschutzgrundverordnung</h4>
                    <p>Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:<br>
                      <ul>
                        <li> Recht auf Berichtigung (Artikel 16 DSGVO)</li>
                        <li>Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
                        <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
                        <li>Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
                        <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
                        <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
                        <li>Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
                      </ul>
                  Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI) wenden.</p>
                  </div>
                  <div class="modal-body">
                    <h4 class="text-uppercase font-weight-bold">Auswertung des Besucherverhaltens</h4>
                    <p>Wir haben diese Datenschutzerklärung (Fassung 29.08.2020-321207201) verfasst, um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.

                      Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
                      <h5 class="text-uppercase font-weight-bold">TLS-Verschlüsselung mit https</h5>
                      <p>Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung Artikel 25 Absatz 1 DSGVO). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>


       <!-- </div>
  
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <img src="https://arsnova.thm.de/blog/wp-content/uploads/2019/11/frag_jetzt.png" alt="Bild von einem Händy">
        </div>-->
      </div>
    </div>
  </div>
    </div>
</section>
<div id="carouselExampleIndicators" class="carousel slide" data-interval="5000" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src= "https://www.infogrele.com/m/files/2018/03/azienda-1024x683.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src= "https://previews.123rf.com/images/frbird/frbird1103/frbird110300009/9045080-weather-forecast-icons-outdoor-thermometer-sun-cloud-rain-.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://store-images.s-microsoft.com/image/apps.36195.9007199266521827.d9731ffd-b03f-4e4c-9d20-152f020c0a9d.c544e84b-9c3b-4d8d-af17-81c2c6cd8aff?w=1083&h=609&q=90&format=jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--<form action="/action" method="post" class="ui form">
    <!--<div class="field">
       <label for="message">message</label>
        <input type="text" name="message" id="message"></input>
        <!--<label for="message">Example label</label>
        <input type="text" name="message" id="message" class="form-control">-->
    <!--</div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icone edit"></i>Schicken
    </button>-->
    
    <!--<div class="form-group">
        <h5> Erklären Sie uns bitte kurs was »noch zu verbessern« ist </h5>
        <label for="text" id="errorm">negative und positive Aspekten</label>
        <textarea type="text" class="form-control"  id="text" name="message" id="message" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-secondary" >senden</button>-
</form>-->
<!--<input id="queryLoc" type="text" value="Pari,fr"
<input type="button" value="METEO-API AUFRUF" onclick="buttonClickGet()"/>
<p id="zone_meteo">toto</p> -->

<%- include('footer') %>